body {
    margin: 0;
    font-size: 2em;
}

h1, p {
    margin: 0;
    padding: 0;
}

.container {
    background: rebeccapurple;
}

.item {
    padding: 5%;
}

.item-a {
    background-color: green;
}

.item-b {
    background-color: greenyellow;
}

.item-c {
    background-color: rebeccapurple;
}

@media screen (min-width: 700px) {
    .item {
        display: inline-block;
    }

    .item-a {
        width: 30px;
    }

    .item-b {
        width: 50px;
    }
}