* {
  box-sizing: border-box;
}

header {
  background-color: #666;
  text-align: center;
  width: 100%;
  padding: 50px;
  height: 20%;
  color: white;
}

.running {
  text-align: center;
  height: 700px;
  padding-top: 200px;
}

progress {
  background-color: rgb(38, 148, 106);
  margin: 0;
  padding: 0;
}

progress::-webkit-progress-bar {
  background: #ffeeee;
}


footer {
  background-color: #666;
  text-align: center;
  width: 100%;
  padding: 20px;
  height: 20%;
  color: white;
}

li {
  display: inline;
}

li a {
  padding: 10px;
}

.progress {
  text-align: center;
}
